<h2 class="page-title">Groceries</h2>
<table class="table-style" cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Expiry Date</th>
      <th>Status</th>
      <th>Visual Indication</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.expiry }}</td>
      <td>{{ dataService.isProductExpired(product.expiry) ? 'Expired' : 'Healthy' }}</td>
      <td style="width:150px">
        <span *ngIf="dataService.isProductExpired(product.expiry)" class="indication red"></span>
        <span *ngIf="!dataService.isProductExpired(product.expiry)" class="indication green"></span>
      </td>
    </tr>
  </tbody>
</table>